.popup__submit_disabled {
    background-color: initial;
    opacity: 0.2;
    box-sizing: border-box;
    border: 1px #000 solid;
    color: #000;
}

.popup__submit_disabled:hover {
    opacity: 0.2;
}