.popup__container_type_images {
    border-radius: 0;
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    width: 75vw;
    height: 80%;
    background-color: initial;
    justify-content: center;
}